* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: 30px;
    margin-top: 30px;
    color: rgb(38, 64, 123);
    height: 100px;
}

header h4 {
    display: inline;
}

header a{
    color: rgb(38, 64, 123);
    text-decoration: none;
    border: 1px solid rgb(38, 64, 123);
    padding: 10px;
    border-radius: 50px;
}

.crop {
    width: 100%;
    overflow: hidden;
}

.crop img {
    width: 100%;
    margin: 0 0 -10% 0;
}

.crop div{
    background-color: white;
    opacity: 20%;
    text-align: center;
    margin-right: 0;
    width: 50%;
}