* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: 30px;
    margin-top: 30px;
    color: rgb(38, 64, 123);
    height: 100px;
}

header h4 {
    display: inline;
}

header a{
    color: rgb(38, 64, 123);
    text-decoration: none;
    border: 1px solid rgb(38, 64, 123);
    padding: 10px;
    border-radius: 50px;
}

.crop {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.crop img {
    width: 100%;
    margin: 0 0 -10% 0;
}

.div{
    background-color: rgba(255, 255, 255, 0.411);
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

.text{
    position: relative;
    top: 45%;
    color: rgb(38, 64, 123);
}

.text h1{
    font-size: 80px;
}

.tkosmo {
    background-color: rgb(4, 68, 124);
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tkosmo a {
    color: white;
}

.tkosmo a:hover {
    color: white;
}

.tkosmo1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}